@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:(92)99455-1285</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lerron@outlook.com">lerron@outlook.com</a><br />
</address>